<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
	<title>公司介绍</title>
	<link rel="stylesheet" type="text/css" href="../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../css/gsjs.css">
	
</head>
<body>
	<div class="gsjs">
		<div class="header">
		          <!-- 题头邮箱 -->
			<div class="information">
				<span class="info-left">
					<i class="icon1"></i>Email:164349569@qq.com
				</span>
				<!-- 题头的其他登录标签 -->				
				<ul class="info-right"> 
					<li> 
						<i class="icon2"></i>
					</li>

					<li>					      					       	
						<i class="icon3"></i>
					</li>

					<li>
						<i class="icon4"></i>
					</li>   
							
					<!--题头的搜索框 -->
					<li>
						<span class="search">
							<input type="text" placeholder="" />
							<i class="icon5"></i>
							<!-- <input name="" type="button"  style=" width:20px; height:16px;  border:0; background:url(./images/LXWM_12.jpg) no-repeat; margin: 4px 0;" /> -->
						</span>
				    </li> 
			    </ul>		
		    </div>
		</div>	
			<!-- 导航 上-->
		<div class="nav-t">
			<!-- 导航-logo -->
			<div class="naving">
				<div class="logo">
					<img src="../images/LXWM_23.jpg">
				</div>
				<div class="name">名胜展览服务有限公司</div>	   
            	<!-- 导航-num -->	
				<ul class="num">
					<li>
						<i class="icon6"></i>
					</li>
					<li>
						<span class="num-span"> <b>CALL US NOW FOR <br/>YOUR TRANSPORT </b></span>
					</li>
					<li class="num-big-span" >
						<span><b>123&nbsp&nbsp4567&nbsp&nbsp891</b></span>
					</li>
				</ul>	
		    </div>
		</div>
		  <!-- 导航 下 -->
        <div class="nav-b">      
    		<ul class="n-b">
    			<li >
        			<span>
	        			<i class="line-l"></i>
	        			<a href="../index.html">首页</a>
	        			<i class="line-r"></i>
        			</span>
    			</li>
    			<li class="active">
        			<span>
	        			<i class="line-l"></i>
	        			<a href="gsjs.html">公司介绍</a>
	        			<i class="line-r"></i>
        			</span>
    			</li>
    			<li>
        			<span>
	        			<i class="line-l"></i>
	        			<a href="news.html">新闻中心</a>
	        			<i class="line-r"></i>
        			</span>
    			</li>
    			<li>
        			<span>
	        			<i class="line-l"></i>
	        			<a href="Product.html">产品中心</a>
	        			<i class="line-r"></i>
        			</span>
    			</li>
    			<li>
    				<span>
	        			<i class="line-l"></i>
	        			<a href="contact.html">联系我们</a>
	        			<i class="line-r"></i>
        			</span>
    			</li>
    		</ul>      
        </div>
        <!-- 滚动页面 -->
        <div id="show" class="banner">	
	        <ul  id="banner" class="banner-show"></ul> 
	        <ul id="index" class="point"></ul>
        </div>
        <div class="subject-body">
		    <div class="subject-body-t">
			    <div class="subject-body-t-img">
			    	<img src="../images/gsjj_06.png">
			    </div>
			    <div class="subject-body-t-test">
				    <p>广州明胜展览服务有限公司是一家专业从事国际展览，会议策划的服务性公司。公司以承办，合作举办各类大型国际博览会和组织出国展览为主业.每年承办各类大型国际专业博览会10多个。</p>
				    <p>  并组团参展，参观世界各地30多个国家和地区的50多个著名国际专业展览会。公司长期以来与各地政府，行业协会，贸易团体以及欧美，远东和东南亚多数国家的贸易组织和相关机构建立了良好的合作关系。</p>
				    <p>在广大的客户群中树立了良好的口碑。明胜公司拥有一批积极进取，勤奋认真，综合素质较高的业务销售人员。</p>
				    <p>并组团参展，参观世界各地30多个国家和地区的50多个著名国际专业展览会。公司长期以来与各地政府，行业协会，贸易团体以及欧美，远东和东南亚多数国家的贸易组织和相关机构建立了良好的合作关系。</p>
				    <p>公司长期以来与各地政府，行业协会，贸易团体以及欧美，远东和东南亚多数国家的贸易组织和相关机构建立了良好的合作关系。</p>
			    </div>		        
	        </div>

	        <div class="subject-body-b">
	            <div class="subject-body-b-test">
				    <p>明胜公司本着“协作，进取，成功”的精神。恪守“顾客至上，诚信为本”的经营理念。为各参展企业及参观人员提供全方位、高质量的服务。明胜公司位于广州市国际会展中心斜对面，中洲中心展馆侧边。坐拥琶洲会展商圈，占尽天时，地利。“明眼今日，胜在未来”。</p>
				    <p>面对瞬息万变的市场，明胜公司将以全新的触角，为国内外众多企业提供优质，完善的展览，会议服务，务求为广大客户创造更多价值。 　　</p>
				    <p>面对瞬息万变的市场，明胜公司将以全新的触角，为国内外众多企业提供优质，完善的展览，会议服务，务求为广大客户创造更多价值。</p>
				    <p>面对瞬息万变的市场，明胜公司将以全新的触角，为国内外众多企业提供优质，完善的展览，会议服务，务求为广大客户创造更多价值。</p>
				    <p>为国内外众多企业提供优质，完善的展览，会议服务.</p>
			    </div>		  
			    <div class="subject-body-b-img">
			    	<img src="../images/gsjj_10.png">
			    </div>
		</div>	         
	     
	    <div class="jw-ds">
	        <div class="yj">
		        <ul class="yj-ul">
			        <li>
				        <i><img src="../images/LXWM_37.png"></i>
				    
			        </li>

			        <li>
				        <p class="yj-p0"><b>名胜展览服务有限公司</b></p>
				        <p class="yj-p00">2011-2013 ⓒ 名胜展览有限公司 版权所有地址：上海乐清市柳市镇柳市大厦</p>
				        <p class="yj-p00">邮编：200000 电话：021-1234</p>
			        </li>
		        </ul>
		    </div>    
        </div>
	</div>
	<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
	<script type="text/javascript" src="../js/childindex.js"></script>
</body>
</html>