<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
	<title>新闻中心-明胜展览服务有限公司</title>
	<link rel="stylesheet" type="text/css" href="../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../css/news.css">
	
</head>
<body>
	<div class="news">
   	    <div class="header">
		          <!-- 题头邮箱 -->
			<div class="information">
				<span class="info-left">
					<i class="icon1"></i>Email:164349569@qq.com
				</span>
				<!-- 题头的其他登录标签 -->				
				<ul class="info-right"> 
					<li> 
						<i class="icon2"></i>
					</li>

					<li>					      					       	
						<i class="icon3"></i>
					</li>

					<li>
						<i class="icon4"></i>
					</li>   
							
					<!--题头的搜索框 -->
					<li>
						<span class="search">
							<input type="text" placeholder="" />
							<i class="icon5"></i>
							<!-- <input name="" type="button"  style=" width:20px; height:16px;  border:0; background:url(./images/LXWM_12.jpg) no-repeat; margin: 4px 0;" /> -->
						</span>
				    </li> 
			    </ul>		
		    </div>
		</div>	
			<!-- 导航 上-->
		<div class="nav-t">
			<!-- 导航-logo -->
			<div class="naving">
				<div class="logo">
					<img src="../images/LXWM_23.jpg">
				</div>
				<div class="name">名胜展览服务有限公司</div>	   
            	<!-- 导航-num -->	
				<ul class="num">
					<li>
						<i class="icon6"></i>
					</li>
					<li>
						<span class="num-span"> <b>CALL US NOW FOR <br/>YOUR TRANSPORT </b></span>
					</li>
					<li class="num-big-span" >
						<span><b>123&nbsp&nbsp4567&nbsp&nbsp891</b></span>
					</li>
				</ul>	
		    </div>
		</div>
		  <!-- 导航 下 -->
        <div class="nav-b">      
    		<ul class="n-b">
    			<li >
        			<span>
	        			<i class="line-l"></i>
	        			<a href="../index.html">首页</a>
	        			<i class="line-r"></i>
        			</span>
    			</li>
    			<li>
        			<span>
	        			<i class="line-l"></i>
	        			<a href="gsjs.html">公司介绍</a>
	        			<i class="line-r"></i>
        			</span>
    			</li>
    			<li class="active">
        			<span>
	        			<i class="line-l"></i>
	        			<a href="news.html">新闻中心</a>
	        			<i class="line-r"></i>
        			</span>
    			</li>
    			<li>
        			<span>
	        			<i class="line-l"></i>
	        			<a href="Product.html">产品中心</a>
	        			<i class="line-r"></i>
        			</span>
    			</li>
    			<li>
    				<span>
	        			<i class="line-l"></i>
	        			<a href="contact.html">联系我们</a>
	        			<i class="line-r"></i>
        			</span>
    			</li>
    		</ul>        
        </div>
        <!-- 滚动页面 -->
        <div id="show" class="banner">	
	        <ul  id="banner" class="banner-show"></ul> 
	        <ul id="index" class="point"></ul>
        </div>
        <!-- 新闻中心主体 -->
        <div class="conter">
	        <div class="conter-left">
	        	<div class="conterleft-div-1">
	        		<div class="cld-1-img">
	        			<img src="../images/XWZX_05.jpg">
	        		</div>
		        	<div class="cld-1-text">
			        	<P class="text-1">
			        		<a href="newss.html"><b>坐拥琶洲会展商圈，占尽天时，地利。“明眼今日，胜在未来”。</b></a>
			        	</P>

			        	<P class="text-2">并组团参展，参观世界各地30多个国家和地区的50多个著名国际专业展览会。公司长期以来与各地政府，行业协会，贸易团体以及欧美，远东和东南亚多数国家的贸易组织和相关机构建立了良好的合作关系。在广大的客户良好的口碑。——5-25
			        	</P>

			        	<P class="text-1">
			        		<b>坐拥琶洲会展商圈，占尽天时，地利。“明眼今日，胜在未来”。</b>
			        	</P>

			        	<P class="text-2">并组团参展，参观世界各地30多个国家和地区的50多个著名国际专业展览会。公司长期以来与各地政府，行业协会，贸易团体以及欧美，远东和东南亚多数国家的贸易组织和相关机构建立了良好的合作关系。在广大的客户良好的口碑。——5-25
			        	</P>
		        	</div>
	        	</div>
	        	<div class="conterleft-div-2">
	        		<div class="cld-2-img">
	        			<img src="../images/XWZX_05.jpg">
	        		</div>
		        	<div class="cld-2-text">
		        		
		        		<P class="text-1"><a href="newss.html"><b>坐拥琶洲会展商圈，占尽天时，地利。“明眼今日，胜在未来”。</b></a></P>
			        	
			        	<P class="text-2">并组团参展，参观世界各地30多个国家和地区的50多个著名国际专业展览会。公司长期以来与各地政府，行业协会，贸易团体以及欧美，远东和东南亚多数国家的贸易组织和相关机构建立了良好的合作关系。在广大的客户良好的口碑。——5-25</P>
			        	
			        	<P class="text-1"><a href="newss.html"><b>坐拥琶洲会展商圈，占尽天时，地利。“明眼今日，胜在未来”。</b></a></P>
			        	
			        	<P class="text-2">并组团参展，参观世界各地30多个国家和地区的50多个著名国际专业展览会。公司长期以来与各地政府，行业协会，贸易团体以及欧美，远东和东南亚多数国家的贸易组织和相关机构建立了良好的合作关系。在广大的客户良好的口碑。——5-25</P>

		        	</div>
	        	</div>
		        <ul class="conterleft-ul">
			        <li>上一页</li>
			        <li>1</li>
			        <li>2</li>
			        <li>3</li>
			        <li>......</li>
		        	<li>下一页</li>
		        </ul>
	        </div>

	        <div class="conter-right">
	        	<div class="conterright-div-1">

		        	<div class="crd-1-img">
		        	<img src="../images/XWZX_07.png">
		        	</div>

		        	<div class="crd-1-text">
			        	<p class="crd-1-p"><a href="newss.html"><b>明眼今日，胜在未来 — 5-1</b></a></p>
			        	<p class="crd-1-p-0">50多个著名国际专业展览会。公司长期以来与各地政府</p>
		        	</div>

	        	</div>

			    <ul  class="conterright-ul">
				    <li><a href="newss.html">坐拥琶洲会展商圈，占尽天时，地利。— 5-1</a></li>
				    <li><a href="newss.html">坐拥琶洲会展商圈，占尽天时，地利。— 5-1</a></li>
				    <li><a href="newss.html">坐拥琶洲会展商圈，占尽天时，地利。— 5-1</a></li>
				    <li><a href="newss.html">坐拥琶洲会展商圈，占尽天时，地利。— 5-1</a></li>
				    <li><a href="newss.html">坐拥琶洲会展商圈，占尽天时，地利。— 5-1</a></li>
			    </ul>

		    	<div class="conterright-div-2">
                    <img src="../images/XWZX_12.jpg">
		    		<div class="crd-2-div">
		    			<p><a href="newss.html">贸易团体以及欧美，远东和东南亚多数国家的贸易组织和相关机构建立了良好的合作关系。</a></p>
		    		</div>

		    	</div>

	        </div>
        </div>
         <!-- 结尾标签 -->
        <div class="jw-ds">
	        <div class="yj">
		        <ul class="yj-ul">
			        <li>
				        <i><img src="../images/LXWM_37.png"></i>
				    
			        </li>

			        <li>
				        <p class="yj-p0"><b>名胜展览服务有限公司</b></p>
				        <p class="yj-p00">2011-2013 ⓒ 名胜展览有限公司 版权所有地址：上海乐清市柳市镇柳市大厦</p>
				        <p class="yj-p00">邮编：200000 电话：021-1234</p>
			        </li>
		        </ul>
		    </div>    
        </div>
	</div>
    <script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
	<script type="text/javascript" src="../js/childindex.js"></script>

</body>
</html>